@using Shipment.Entities;

<h2>Shipment Details</h2>

<div>
    <p><strong>Order Id:</strong>@Model.OrderId</p>
    <p><strong>Customer Name:</strong> @Model.CustomerName</p>
    <p><strong>Customer Address:</strong> @Model.CustomerAddress</p>
    <p><strong>Total Amount:</strong> @Model.TotalAmount</p>
    <p><strong>Delivery Date:</strong> @Model.DeliveryDate.ToShortDateString()</p>

    <!-- Radio buttons for status change -->
    <form method="POST" action="@Url.Action("UpdateStatus", "Shipments")">
        <label for="DeliveryStatus">Change Status:</label><br />

        <!-- Hardcoded Radio Buttons for Delivery Status -->
        <input type="radio" id="Pending" name="DeliveryStatus" value="Pending" @(Model.DeliveryStatus == "Pending" ? "checked" : "") />
        <label for="Pending">Pending</label><br />

        <input type="radio" id="Shipped" name="DeliveryStatus" value="Shipped" @(Model.DeliveryStatus == "Shipped" ? "checked" : "") />
        <label for="Shipped">Shipped</label><br />

        <input type="radio" id="Delivered" name="DeliveryStatus" value="Delivered" @(Model.DeliveryStatus == "Delivered" ? "checked" : "") />
        <label for="Delivered">Delivered</label><br />

        <input type="radio" id="Canceled" name="DeliveryStatus" value="Canceled" @(Model.DeliveryStatus == "Canceled" ? "checked" : "") />
        <label for="Canceled">Canceled</label><br />

        <input type="hidden" name="ShipmentId" id="ShipmentId" value="@Model.ShipmentId" />
        <button type="submit" id="updateButton">Update Status</button>

    </form>

    @* back to list button *@

    <button class="btn btn-primary">
        <a href="/shipments/list" >Back to List</a>
    </button>


</div>
<script>
    $(document).ready(function () {
        $('#updateButton').click(function (e) {
            e.preventDefault();

            var selectedStatus = $("input[name='DeliveryStatus']:checked").val();
            var shipmentId = $('#ShipmentId').val();

            if (!selectedStatus) {
                alert('Please select a delivery status.');
                return;
            }

            var delivery = {
                id: shipmentId,
                status: selectedStatus
            };

            $.ajax({
                url: '/api/Shipments',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(delivery),
                success: function (response) {
                    if (response) {
                        alert('Update Successful');
                    } else {
                        alert('Update Failed');
                    }
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
        });
    });

</script>